#head{
	background-color: #1d00ff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1{
	font-family: 'Montserrat:100i,400', sans-serif;
	font-size: 12em;
	font-style: italic;
	font-weight: lighter;
	margin: auto auto 0;
	text-align: center;
	color: white;
}

#under-head{
	background: linear-gradient(#1d00ff, white);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul.navbar{
	margin: 0 10px 0 10px;
	padding: 0 0;
	text-align: center;
}

li{
	list-style: none;
	display: inline;
	margin: 50px 10px;
}

ul.navbar li a{
	margin: 10px 10px;
	color: white;
	font-family: 'Montserrat:100i,400', sans-serif;
	font-size: 1.3em;
	font-weight: lighter;
	padding: 10px;
	border: 1px solid white;

}

ul.navbar li a:hover, a:focus{
	font-style: italic;
	text-decoration: none;
}

#content-1{

}

.content {
	width: 30%;
	height: auto;
	display: flex;
	align-items: center;
	max-width: 30%;
	text-align: left;
	margin: auto 0 auto 10px;
}

div.content p{
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 100%;
	margin: 0 auto auto 5px;
	vertical-align: middle;
	display: inline;
	overflow: hidden;
	clear: left;
}

.window{
	border: 3px solid black;
	width: auto;
	height: auto;
	max-height: 95vh;
	min-width: 65vw;
	display: inline;
	float: right;
	margin: 12px auto auto 5px;
}

.window img{
	height:100%;
	width:100%;

}

#root, #content-1, #content-2, #content-3, #contact{
	margin: 10px 10px 10px 0;
}

#sketch-1{


	display: inline;
}
